<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>

    .footer {
        text-align: center;
        padding: 20px 0;
        background-color: #274c77;
        color: #ffffff;
        font-size: 14px;
        font-family: 'Poppins', sans-serif;
        margin-top: auto; /* Ini yang membuat footer nempel di bawah */
        }
    </style>
</head>
<body>
    <footer class="footer">
        <p>&copy; 2025 SkillBridge. All rights reserved.</p>
        <p>Hubungi kami: info@skillbridge.com | Instagram: @skillbridge.id</p>
    </footer>
</body>
</html>