<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
        margin: 0;
        font-family: Arial, sans-serif;
        }

        .footer {
        background-color: #1e3a8a;
        color: white;
        padding: 30px 20px;
        text-align: center;
        margin-top: 60px;
        }
    </style>
</head>
<body>
    <footer class="footer">
        <p>&copy; 2025 SkillBridge. All rights reserved.</p>
        <p>Hubungi kami: info@skillbridge.com | Instagram: @skillbridge.id</p>
    </footer>
</body>
</html>